<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b>&nbsp;Slacc</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-secondary">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Plover.png" width="200" alt="Avatar"> </div>
        <div class="col-md-9 border-secondary">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.1.from}}</b>
            <font size="5"> {{conversation.1.time}}</font>
            <font size="5" color="cornflowerblue"></font>
            <p class="">
              <font size="5" color="cornflowerblue">{{conversation.1.mention}}
                <font size="5" color="black">{{conversation.1.message}}</font>
              </font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Tempo.png" width="200"> </div>
        <div class="col-md-9">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.2.from}}</b>
            <font size="5"> {{conversation.2.time}}</font>
            <font size="5" color="cornflowerblue"></font>
            <p class="">
              <font size="5" color="cornflowerblue">{{conversation.2.mention}}
                <font size="5" color="black">{{conversation.2.message}}</font>
              </font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Maleo.png" width="200"> </div>
        <div class="col-md-9">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.3.from}}</b>
            <font size="5"> {{conversation.3.time}}</font>
            <p class="">
              <font size="5" color="black">{{conversation.3.message}}</font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Plover.png" width="200" alt="Avatar"> </div>
        <div class="col-md-9 border-secondary">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.4.from}}</b>
            <font size="5"> {{conversation.4.time}}</font>
            <p class="">
              <font size="5" color="cornflowerblue">
                <font size="5" color="black">{{conversation.4.message}}</font>
              </font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Maleo.png" width="200"> </div>
        <div class="col-md-9">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.5.from}}</b>
            <font size="5"> {{conversation.5.time}}</font>
            <p class="">
              <font size="5" color="black">{{conversation.5.message}}</font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Tempo.png" width="200"> </div>
        <div class="col-md-9">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.6.from}}</b>
            <font size="5"> {{conversation.6.time}}</font>
            <font size="5" color="cornflowerblue"></font>
            <p class="">
              <font size="5" color="cornflowerblue">{{conversation.6.mentions}} &nbsp;</font>
              <font size="5">{{conversation.6.message}}</font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Maleo.png" width="200"> </div>
        <div class="col-md-9">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.7.from}}</b>
            <font size="5">  {{conversation.7.time}}</font>
            <p class="">
              <font size="5" color="black">{{conversation.7.message}}</font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid d-block" src="Plover.png" width="200" alt="Avatar"> </div>
        <div class="col-md-9 border-secondary">
          <p class="lead">
            <b></b>
          </p>
          <font size="10" color="black">
            <b>{{conversation.8.from}}</b>
            <font size="5"> {{conversation.8.time}}</font>
            <p class="">
              <font size="5" color="cornflowerblue">
                <font size="5" color="black">{{conversation.8.message}}</font>
              </font>
            </p>
          </font>
        </div>
        <font size="10" color="black"> </font>
      </div>
      <font size="10" color="black"> </font>
    </div>
    <font size="10" color="black"> </font>
  </div>
  <font size="10" color="black">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </font>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>